/* ========================================================================
   Component: HTML editor
 ========================================================================== */
/* Sub-object `ex-htmleditor-navbar`
 ========================================================================== */
.ex-htmleditor-navbar {
  background: #eee;
}
/*
 * Micro clearfix
 */
.ex-htmleditor-navbar:before,
.ex-htmleditor-navbar:after {
  content: "";
  display: table;
}
.ex-htmleditor-navbar:after {
  clear: both;
}
/* Sub-object `ex-htmleditor-navbar-nav`
 ========================================================================== */
.ex-htmleditor-navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
.ex-htmleditor-navbar-nav > li {
  float: left;
}
/*
 * 1. Dimensions
 * 2. Style
 */
.ex-htmleditor-navbar-nav > li > a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    height: 35px;
    padding: 0 12px;
    line-height: 35px;
    color: #444;
    font-size: 12px;
    cursor: pointer;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.ex-htmleditor-navbar-nav > li:hover > a,
.ex-htmleditor-navbar-nav > li > a:focus {
  background-color: #f5f5f5;
  color: #444;
  outline: none;
  /* 2 */
}
/* OnClick */
.ex-htmleditor-navbar-nav > li > a:active {
  background-color: #ddd;
  color: #444;
}
/* Active */
.ex-htmleditor-navbar-nav > li.ex-active > a {
  background-color: #f5f5f5;
  color: #444;
}
/* Sub-object: `ex-htmleditor-navbar-flip`
 ========================================================================== */
.ex-htmleditor-navbar-flip {
  float: right;
}
/* Sub-object for special buttons
 ========================================================================== */
[data-mode='split'] .ex-htmleditor-button-code,
[data-mode='split'] .ex-htmleditor-button-text {
  display: none;
}
/* Sub-object `ex-htmleditor-content`
 ========================================================================== */
.ex-htmleditor-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
/*
 * Micro clearfix
 */
.ex-htmleditor-content:before,
.ex-htmleditor-content:after {
  content: "";
  display: table;
}
.ex-htmleditor-content:after {
  clear: both;
}
/* Modifier `ex-htmleditor-fullscreen`
 ========================================================================== */
.ex-htmleditor-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.ex-htmleditor-fullscreen .ex-htmleditor-content {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
}
.ex-htmleditor-fullscreen .ex-icon-expand:before {
  content: "\f066";
}
/* Sub-objects `ex-htmleditor-code` and `ex-htmleditor-text`
 ========================================================================== */
.ex-htmleditor-code,
.ex-htmleditor-text {
  box-sizing: border-box;
}
.ex-htmleditor-text {
  position: relative;
  resize: vertical;
  overflow: hidden;
}
/*
 * Tab view
 */
[data-mode='tab'][data-active-tab='code'] .ex-htmleditor-text,
[data-mode='tab'][data-active-tab='text'] .ex-htmleditor-code {
  display: none;
}
/*
 * Split view
 */
[data-mode='split'] .ex-htmleditor-code,
[data-mode='split'] .ex-htmleditor-text {
  float: left;
  width: 50%;
}
[data-mode='split'] .ex-htmleditor-code {
  border-right: 1px solid #eee;
}
/* Sub-object `ex-htmleditor-iframe`
 ========================================================================== */
.ex-htmleditor-iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* CodeMirror modifications
 ========================================================================== */
.ex-htmleditor .CodeMirror {
  padding: 5px;
  box-sizing: border-box;
  line-height: 16px;
  font-size: 12px;
}
